body {
    background: rgb(31, 19, 134);
    color: #002fff;
    margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
    color: #075000;
}

p, li {
    color: rgb(0, 255, 255)255, 255);
}

ul {
    margin: 0;
}

.bg-steel {
    background-color: #630000;
}

.site-header .navbar-nav .nav-link {
    color:rgb(241, 248, 255);
}

.site-header .navbar-nav .nav-link:hover {
    color:rgb(241, 248, 255);
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}